input::placeholder {
  color: #555;
}
label {
  font-weight: bold;
  color: #333;
}

.small-header {
  font-size: 14px;
  font-weight: 600;
  width: 5%
}

.large-header {
  font-size: 14px;
  font-weight: 600;
}

.button-container button {
  margin-right: 5px;
}

.centered-table th, .centered-table td {
  text-align: center;
}
