<footer class="py-5" style="background-color: #1B0440; color: white; margin-top: 5rem; padding-left: 5rem;">
    <div class="row">
        <div class="col-2">
            <img src="./../../../assets/homepage/logo.png" alt="">
        </div>

        <div class="col-2">
            <h5>Navegación</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: white; text-decoration: none;">Inicio</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: white; text-decoration: none;">Servicios</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: white; text-decoration: none;">Nosotros</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: white; text-decoration: none;">Contacto</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: white; text-decoration: none;">Ingresar</a></li>
            </ul>
        </div>

        <div class="col-4 offset-1">
            <form>
                <h5>Mantente conectado con nosotros</h5>
                <p>Proporciona tu dirección de correo electrónico y uno de nuestros representantes se pondrá en contacto
                    contigo para asistirte.</p>
                <div class="d-flex w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Correo electrónico</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-outline-light" type="button">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="d-flex py-4 my-4 border-top">
        <p>© 2023 Universidad EAFIT, Equipo 6. Todos los derechos reservados.</p>
    </div>
</footer>