<body style="overflow-x: hidden;">
    <app-home-navbar></app-home-navbar>
    <div>
        <div class="card text-white Section1" id="Section1">
            <img src="./../../../assets/homepage/Vector 1.svg" class="card-img Section1Svg" alt="..."
                style="border-radius: 0;">
            <div class="card-img-overlay Section1Content">
                <div class="container" style="margin-top: 0%;">
                    <div class="row">
                        <div class="col-md-6 Section1ContentText text-md-left" style="text-align: start;">
                            <h1>Smart Warehouse</h1>
                            <h4>Sistema de gestión logística</h4>
                            <p class="mt-2">Optimiza tus operaciones con nuestro aplicativo web de gestión inteligente.
                                Ahorra costos, maximiza la eficiencia y simplifica la logística de tu bodega. Una
                                solución integral para mejorar operaciones y resultados, respaldada por análisis en
                                tiempo real y herramientas de seguimiento avanzadas.</p>
                            <div class="Section1Buttons">
                                <button (click)="navigateToLogin()" class="Section1Button">Comenzar</button>
                                <button  class="Section4Button Section4Button2">Ver
                                    más</button>
                            </div>
                        </div>
                        <div class="col-md-6 Section1ContentImg" style="margin-top: 2rem;">
                            <img src="./../../../assets/homepage/img1.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Section2 mt-5" id="Section2">
            <div class="row">
                <div class="col-lg-4" style="display: flex;">
                    <img src="./../../../assets/homepage/dollyFlatbed.svg" alt="">
                    <div class="Section2Text">
                        <h4>Logística interna</h4>
                        <p>Simplifica la logística interna de cargas en la bodega, mejorando la eficiencia operativa.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4" style="display: flex;">
                    <img src="./../../../assets/homepage/truck.svg" alt="">
                    <div class="Section2Text">
                        <h4>Flujo de cargas</h4>
                        <p>Simplificamos el control de entradas y salidas de cargas para una logística más fluida.</p>
                    </div>
                </div>
                <div class="col-lg-4" style="display: flex;">
                    <img src="./../../../assets/homepage/truckLoading.svg" alt="">
                    <div class="Section2Text">
                        <h4>Espacios ideales</h4>
                        <p>Optimizamos cada rincón de tu bodega con ubicaciones sugeridas por inteligencia artificial.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 4rem;">
                <div class="col-lg-6" style="padding: 1rem;">
                    <h2>Conócenos</h2>
                    <p>Smart Warehouse es una empresa especializada en optimizar operaciones de gestión de almacenes y
                        logística, ofreciendo soluciones innovadoras para enfrentar los desafíos del entorno empresarial
                        en constante cambio. Nuestro enfoque se centra en dos protagonistas clave:</p>
                    <h5>Administrador de Bodega</h5>
                    <p>Ofrecemos soluciones que simplifican tareas cruciales, como el registro de mercancías, la
                        configuración de parámetros y la actualización de inventario en tiempo real.</p>
                    <h5> Sistemas de logística</h5>
                    <p>Nuestros sistemas de logística avanzada aseguran una comunicación efectiva al proporcionar
                        notificaciones precisas y oportunas sobre la llegada y salida de cargas.</p>
                </div>
                <div class="col-lg-6" style="display:flex; justify-content:center;">
                    <img src="./../assets/homepage/img2.png" alt="">
                </div>
            </div>
        </div>
        <div class="Section3" style="margin-top: 3rem;" id="Section3">
            <h2 style="text-align: center; padding-top: 1.5rem;">Servicios</h2>
            <div class="container" style="padding: 2rem;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="Section3Container">
                            <img class="Section3Img" src="./../assets/homepage/img3.png" alt="">
                            <h4 class="mt-3">Almacenamiento</h4>
                            <p>Las sugerencias inteligentes mejoran la eficiencia del equipo de almacenamiento al
                                proteger productos y garantizar la seguridad de los trabajadores, optimizando y
                                promoviendo la eficiencia logística.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="Section3Container">
                            <img class="Section3Img" src="./../assets/homepage/img4.png" alt="">
                            <h4 class="mt-3">Gestión de cargas</h4>
                            <p>Brindamos un control preciso de lotes entrantes y salientes mediante un menú de registro
                                de lotes en nuestra plataforma, asegurando una gestión logística eficiente y una
                                visibilidad mejorada.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="Section3Container">
                            <img class="Section3Img" src="./../assets/homepage/img5.png" alt="">
                            <h4 class="mt-3">Gestión de espacios</h4>
                            <p>Ofrecemos una solución completa para que los administradores de bodega controlen la
                                distribución, características y estructura, garantizando una gestión eficiente del
                                espacio y una visión detallada de la disposición de productos.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="Section3Container">
                            <img class="Section3Img" src="./../assets/homepage/img6.png" alt="">
                            <h4 class="mt-3">Logística</h4>
                            <p>Simplificamos el proceso de almacenamiento y recuperación en nuestros operarios mediante
                                la tecnología. Esto no solo acelera las operaciones internas, sino que también optimiza
                                la utilización del espacio y reduce los errores.
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Section4 text-white" style="position: relative;">
            <div
                style="background-image: url(./../../../assets/homepage/img7.png); background-size: cover; background-position: center; height: 300px;">
                <div class="overlay"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6);">
                </div>
                <div class="container" style="position: relative;">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center; align-items: center; padding: 6rem;">
                            <h2>Tu aliado en la logística inteligente</h2>
                            <p style="padding-left: 8rem; padding-right: 8rem;">Con nuestra innovación tecnológica y
                                experiencia en logística, creamos soluciones a
                                medida que convierten tus desafíos de almacenamiento en oportunidades de éxito,
                                impulsando la eficiencia y la rentabilidad en tu negocio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Section5">
            <div class="row" style="margin-top: 5rem;" id="Section5">
                <div class="col-lg-6" style="display:flex; justify-content:center;">
                    <img src="./../assets/homepage/img8.png" alt="">
                </div>
                <div class="col-lg-6" style="padding: 2rem;">
                    <h2>Información corporativa</h2>
                    <h4>Misión</h4>
                    <p>Revolucionar la logística y la gestión de inventario a través de la tecnología, simplificando y
                        optimizando las operaciones de almacenamiento para nuestros clientes. Queremos reducir costos,
                        minimizar errores y maximizar la eficiencia en la cadena de suministro.</p>
                    <h4>Visión</h4>
                    <p>En 2030, Smart Warehouse busca liderar la gestión logística global, transformando la industria
                        con soluciones avanzadas. Nuestra visión es un mundo con almacenes más eficientes y sostenibles
                        gracias a nuestra tecnología innovadora para ser el estándar en gestión de inventario y lograr
                        eficiencia y precisión en todo momento.</p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>